body {
	width: 100%;
	background-image: url("../resources/images/background.jpg");
	background-repeat: repeat-x;	
}

#page {
	width: 1000px;
	margin: auto;
}

#header {
	height: 265px;
	font-size: 3em;
	color: #fff;
}