<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="template/template.xhtml">
		<ui:define name="content">
			<h1>WebSocket : Chat</h1>
			<div style="text-align: center;">
				<form action="">
					<table>
						<tr>
							<td>Users<br />
								<textarea readonly="readonly" rows="6" cols="20" id="userField">
								</textarea>
							</td>
							<td>Chat Log<br />
								<textarea readonly="readonly" rows="6" cols="50" id="chatlogField">
								</textarea>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<input id="textField" name="name" value="Genigraph" type="text" /><br />
								<input onclick="join();" value="Join" type="button" />
								<input onclick="send_message();" value="Chat" type="button" />
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div id="output"></div>
			<script language="javascript" type="text/javascript" src="resources/js/websocket.js"></script>
		</ui:define>
	</ui:composition>
</h:body>
</html>