<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:body>
	<ui:composition template="template/template.xhtml">
		<ui:define name="content">
			<h1>Books list</h1>
			<h:dataTable value="${bookBean.books}" var="b">
				<h:column>
					<f:facet name="header">Title</f:facet>
					<a href="#{b.url}">${b.title}</a>
				</h:column>
				<h:column>
					<f:facet name="header">Author</f:facet>
					${b.author}
				</h:column>
				<h:column>
					<f:facet name="header">Editor</f:facet>
					${b.editor}
				</h:column>
				<h:column>
					<f:facet name="header">Available</f:facet>
					<h:selectBooleanCheckbox value="${b.available}" />
				</h:column>
			</h:dataTable>

			<h1>Add a new book</h1>
			<h:form>
				<h:panelGrid columns="3">
					Title :
					<h:inputText id="title" value="#{bookBean.book.title}" />
					<h:message for="title" />
					Author :
					<h:inputText id="author" value="#{bookBean.book.author}" />
					<h:message for="author" />
					Url :
					<h:inputText id="url" value="#{bookBean.book.url}" />
					<h:message for="url" />
					Img :
					<h:inputText id="img" value="#{bookBean.book.img}" />
					<h:message for="img" />
					Editor :
					<h:inputText id="editor" value="#{bookBean.book.editor}" />
					<h:message for="editor" />
					Available :
					<h:selectBooleanCheckbox id="available" value="#{bookBean.book.available}" />
					<h:message for="available" />
				</h:panelGrid>

				<h:commandButton type="submit" value="Submit"
					action="#{bookBean.save}" />
				<h:commandButton type="reset" value="Reset"></h:commandButton>

			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
